<% content_for :title do %>Contact<% end %>
<h3>Contact</h3>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= simple_form_for @contact do |form| %>
    <%= form.error_notification %>
  <div class="form-group">
    <%= form.input :name, label: false, :placeholder => 'Your name...', autofocus: true, :class => "form-control" %>
    <%= form.input :email, label: false, :placeholder => 'Your email address...', :class => "form-control" %>
    <%= form.input :content, as: :text, label: false, :class => "form-control" %>
  </div>
    <%= form.button :submit, 'Submit', class: 'btn btn-primary' %>
  <% end %>
</div>
</div>
